repositories:
  - name: jetstack
    url: https://charts.jetstack.io

releases:
  - name: certmanager
    namespace: cert-manager
    chart: jetstack/cert-manager
    version: v1.13.3
    installed: true
    values:
      - values.yaml

  - name: certmanager-issuer
    namespace: cert-manager
    chart: ./issuer-chart
    version: v1.0.0
    installed: true
    disableValidation: true
    needs:
      - certmanager
    values:
      - email: {{ .Values.certIssuerEmail }}
      - values-issuer.yaml
